.menu-container {
    background-color: #f2e9e4; /* Color de fondo */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Centra el texto */
    max-width: 500px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Centra el contenedor horizontalmente */

    
}

.button-volver {
    background-color: #e76f51; /* Color naranja */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    display: inline-block;
}


.link-volver{
    text-decoration: none;
    color: white;
}

.form-container{
    text-align: left;
}


.select-container,
.input-container {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
input[type='text'] {
    width: calc(100% - 22px); /* Ajusta el ancho para el padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.button-agregar {
    background-color: #e76f51; /* Color naranja */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;

}



/* Estilos opcionales para mejorar la apariencia */
h1 {
    margin-bottom: 20px;
}