.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #e5e0d9;
}

.nav-bar__logo-and-links {
  display: flex;
  align-items: center;
}

.nav-bar__logo {
  text-decoration: none; 
  color: inherit;      
  &:visited{ 
    color: inherit;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {

    color: inherit; 

  }
}


.nav-bar__logo-icon { 
  color: #ff6700; 
  margin-right: 5px; 
}

.nav-bar__logo-icon {
  color: #ff6700;
  margin-right: 5px;
}